body {
    background: #4f4f4f;
    color: #fff250;
    font-family: monospace;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

#container {
    background: #004f1c;
    width: 100%;
    height: 100%;
}

#header {
    background: #4f1714;
    width: 100%;
    height: 10%;
}

#navigation {
    background: #4f4510;
    width: 100%;
    height: 5%;
}

#menu_content {
    width: 85%;
    height: 80%;
    float: left;
}

#menu {
    background: #364f21;
    float: left;
    height: 100%;
    width: 18%;
}

#content {
    background: #4f4f4f;
    float: right;
    height: 100%;
    width: 82%;
}

#ad {
    background: #2f4f42;
    float: right;
    height: 80%;
    width: 15%;
}
